body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: white;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
  display:flex;
  -webkit-user-select: none;

}

.canvas{
  height: 1000000%;
  width: 1000000%;
} 


/***********************************prompt button for clearing the board***************************************/
#prompt{
  position: absolute;
  width: 200;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(5, 0, 56, .5);
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  display:inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1d95ff;

  top: 100px;
  left: 120px;
  visibility: hidden;
}

#prompt button{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  background-color: #1d95ff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 80px;
  height: 20px;

  transition:background-color .5s;
}

#prompt button:hover{

  background-color: #1d96ff82;

  transition:background-color .1s;
}

#prompt button:active{
  background-color: #435769;
}


/*********************************** Slider **************************************************/

.penOption{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 10px;
  opacity: .5;
  transition: opacity .2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1d95ff;
}

#counter{
  margin-top: 5px;
  margin-bottom: 0px;
}

.penOption:hover{
  opacity: 1;
}

input[type="color"]{
  -webkit-appearance: none;
  border: none;
  height: 25px;
  width: 25px;
  color: #1d95ff;
  
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	box-shadow: 0px 2px 10px rgba(0, 0, 5, .2);
  border-radius: 4px;
}

#penSlider{

  -webkit-appearance: none;
  width: 500px;
  height: 25px;
  border-radius: 50px;
  background-color: #d9e4ee;
  outline: none;
  
  
}

#penSlider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1d95ff;
  cursor: pointer;
}

/***********************************toolbar***************************************/

.container {
  position: absolute;
  height: fit-content;
  width: fit-content;
  display: grid;
  place-items: center;
  bottom: 50%;
  left: 10px;
  
}

#toolbar {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(5, 0, 56, .5);
  padding: 2px;
}

#toolbar button {
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
  
 
  cursor: pointer;
  border: none;
  color:white;
  width: 44px;
  height: 44px;
  margin: 10px;
  padding: 5px;

  transition:background-color .5s;
}

#toolbar button:hover{
  background-color: #1d95ff;
}

#toolbar button:active{
  background-color: #a8d6ff;
}

#toolbar .pen{
  background-image: url("data:image/svg+xml,%3Csvg width='78' height='78' viewBox='0 0 77 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.0948181L76.9434 0L77.0382 76.9434L0.0948029 77.0382L0 0.0948181ZM13.5 60C12.6716 60 12 59.3284 12 58.5C12 57.6716 12.6716 57 13.5 57H17.0354C17.0316 56.9208 17.0309 56.8408 17.0333 56.7601L17.5233 40.6865C17.5464 39.9274 17.8566 39.2054 18.3911 38.666L42.7079 14.1308C43.8742 12.954 45.7737 12.9455 46.9505 14.1118L62.5291 29.5517C63.7059 30.718 63.7144 32.6176 62.5481 33.7943L39.5491 57H58.5C59.3284 57 60 57.6716 60 58.5C60 59.3284 59.3284 60 58.5 60H13.5ZM54.11 33.879C54.8946 34.6565 56.1609 34.6508 56.9384 33.8663L57.6424 33.1561C58.4199 32.3715 58.4143 31.1052 57.6297 30.3277L46.2655 19.0647C45.481 18.2871 44.2147 18.2928 43.4371 19.0773L42.7332 19.7876C41.9557 20.5721 41.9613 21.8384 42.7458 22.616L54.11 33.879ZM34.2429 55.4519C35.0608 55.4659 35.849 55.1452 36.4249 54.5642L51.2959 39.5596C52.4665 38.3784 52.453 36.4704 51.2658 35.306L41.2708 25.5027C40.0922 24.3468 38.2013 24.3602 37.0393 25.5326L22.2196 40.4855C21.6438 41.0665 21.3302 41.8575 21.3514 42.6753L21.6036 52.365C21.6454 53.971 22.945 55.2591 24.5513 55.2865L34.2429 55.4519ZM26.5616 40.3662C26.1728 40.7585 26.1757 41.3916 26.5679 41.7804C26.9602 42.1692 27.5934 42.1664 27.9821 41.7741L37.8372 31.8304C38.226 31.4382 38.2232 30.805 37.8309 30.4162C37.4387 30.0274 36.8055 30.0303 36.4167 30.4225L26.5616 40.3662ZM30.8295 46.004C30.4372 45.6153 30.4344 44.9821 30.8232 44.5898L40.6783 34.6462C41.0671 34.2539 41.7002 34.2511 42.0925 34.6398C42.4848 35.0286 42.4876 35.6618 42.0988 36.054L32.2437 45.9977C31.8549 46.39 31.2218 46.3928 30.8295 46.004ZM35.0847 48.8135C34.696 49.2057 34.6988 49.8389 35.0911 50.2277C35.4833 50.6164 36.1165 50.6136 36.5053 50.2213L46.3604 40.2777C46.7492 39.8854 46.7463 39.2523 46.3541 38.8635C45.9618 38.4747 45.3286 38.4775 44.9399 38.8698L35.0847 48.8135Z' fill='white'/%3E%3C/svg%3E%0A");
}

#toolbar .erase{
  background-image: url("data:image/svg+xml,%3Csvg width='78' height='78' viewBox='0 0 77 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M76.9434 0L0 0.0948181L0.0948038 77.0382L77.0382 76.9434L76.9434 0ZM15.6473 52.2079C13.6904 50.2596 13.6904 47.1008 15.6473 45.1525L45.4655 15.4658C47.4224 13.5175 50.5952 13.5175 52.5522 15.4658L64.5883 27.4489C66.5452 29.3972 66.5452 32.556 64.5883 34.5043L41.9797 57.0132H58.5C59.3284 57.0132 60 57.6819 60 58.5066C60 59.3314 59.3284 60 58.5 60H13.5C12.6716 60 12 59.3314 12 58.5066C12 57.6819 12.6716 57.0132 13.5 57.0132H20.474L15.6473 52.2079ZM36.9596 56.6187L26.5 56.8104L18 48.8457L24.9029 41.9732L38.2864 55.2977L36.9596 56.6187ZM33.5 33.414L26.9745 39.9108L40.358 53.2352L46.8835 46.7385L46.8639 46.719C46.9868 46.6224 47.1054 46.5176 47.2189 46.4046L59.2272 34.4492C60.7927 32.8906 60.7927 30.3635 59.2272 28.8049L51.5101 21.1219C49.9446 19.5632 47.4063 19.5632 45.8408 21.1219L33.8325 33.0772C33.719 33.1902 33.6138 33.3083 33.5167 33.4307L33.5 33.414Z' fill='white'/%3E%3C/svg%3E%0A");
}

#toolbar .clear{
  background-image: url("data:image/svg+xml,%3Csvg width='78' height='78' viewBox='0 0 77 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.0948181L76.9434 1.43741e-05L77.0382 76.9434L0.0948037 77.0382L0 0.0948181ZM54 25H24C22.8954 25 22 25.8954 22 27C22 28.1046 22.8954 29 24 29H54C55.1046 29 56 28.1046 56 27C56 25.8954 55.1046 25 54 25ZM24 22C21.2386 22 19 24.2386 19 27C19 29.7614 21.2386 32 24 32H54C56.7614 32 59 29.7614 59 27C59 24.2386 56.7614 22 54 22H45.9621C45.7068 18.6438 42.9027 16 39.4811 16C36.0594 16 33.2553 18.6438 33 22H24ZM36.0165 22H42.9456C42.703 20.3039 41.2443 19 39.4811 19C37.7178 19 36.2591 20.3039 36.0165 22ZM24.5 33C23.6716 33 23 33.6716 23 34.5V41V45.5V55C23 58.3137 25.6863 61 29 61H49C52.3137 61 55 58.3137 55 55V45.5V41V34.5C55 33.6716 54.3284 33 53.5 33C52.6716 33 52 33.6716 52 34.5V41V45.5V55C52 56.6569 50.6569 58 49 58H29C27.3431 58 26 56.6569 26 55V45.5V41V34.5C26 33.6716 25.3284 33 24.5 33ZM31.5 37C30.6716 37 30 37.6716 30 38.5V52.5C30 53.3284 30.6716 54 31.5 54C32.3284 54 33 53.3284 33 52.5V38.5C33 37.6716 32.3284 37 31.5 37ZM38 38.5C38 37.6716 38.6716 37 39.5 37C40.3284 37 41 37.6716 41 38.5V52.5C41 53.3284 40.3284 54 39.5 54C38.6716 54 38 53.3284 38 52.5V38.5ZM46.5 37C45.6716 37 45 37.6716 45 38.5V52.5C45 53.3284 45.6716 54 46.5 54C47.3284 54 48 53.3284 48 52.5V38.5C48 37.6716 47.3284 37 46.5 37Z' fill='white'/%3E%3C/svg%3E%0A");
}
/**************************************************************************/